In [1]:
import sys
sys.path.append("../")

In [2]:

import os
import pandas as pd
import numpy as np
from model.inference import *
from model.parameter import *
from model.structure import *

#classification_datasets.BankMarketing('../data/')  --- stores Bank marketing dataset in local folder

df = pd.read_csv('../data/BankMarketing/bank-additional/bank-additional-full.csv', sep=';')

df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [31]:
# we should drop call duration as it has 1-1 relationship with target

df = df.drop('duration', axis=1)

In [33]:
# Structure learning on the data set

struct = StructureLearning(df)
model1 = struct.score_based(scoring="bic", algo="hc")

#model2 = struct.constraint_based()

  0%|                                               | 0/1000000 [00:00<?, ?it/s]
  0%|                                  | 1/1000000 [00:12<3468:48:32, 12.49s/it]
  0%|                                  | 2/1000000 [00:13<1539:58:26,  5.54s/it]
  0%|                                   | 3/1000000 [00:14<965:51:19,  3.48s/it]
  0%|                                   | 4/1000000 [00:14<657:05:01,  2.37s/it]
  0%|                                   | 5/1000000 [00:15<482:34:18,  1.74s/it]
  0%|                                   | 6/1000000 [00:16<376:20:05,  1.35s/it]
  0%|                                   | 7/1000000 [00:16<332:17:11,  1.20s/it]
  0%|                                   | 8/1000000 [00:17<282:20:26,  1.02s/it]
  0%|                                   | 9/1000000 [00:18<246:49:50,  1.13it/s]
  0%|                                  | 10/1000000 [00:18<230:46:54,  1.20it/s]
  0%|                                  | 11/1000000 [00:19<210:45:46,  1.32it/s]
  0%|                                  | 12/1000000 [00:20<203:32:23,  1.36it/s]
  0%|                                  | 13/1000000 [00:23<423:43:55,  1.53s/it]
  0%|                                  | 14/1000000 [00:24<347:26:26,  1.25s/it]
  0%|                                  | 15/1000000 [00:24<293:19:51,  1.06s/it]
  0%|                                  | 16/1000000 [00:25<257:50:19,  1.08it/s]
  0%|                                  | 17/1000000 [00:26<238:43:45,  1.16it/s]
  0%|                                  | 18/1000000 [00:26<230:21:10,  1.21it/s]
  0%|                                  | 19/1000000 [00:27<206:18:26,  1.35it/s]
  0%|                                  | 20/1000000 [00:28<240:14:55,  1.16it/s]
  0%|                                  | 21/1000000 [00:29<233:04:46,  1.19it/s]
  0%|                                  | 22/1000000 [00:30<225:26:54,  1.23it/s]
  0%|                                  | 23/1000000 [00:30<208:48:45,  1.33it/s]
  0%|                                  | 24/1000000 [00:31<215:52:36,  1.29it/s]
  0%|                                  | 25/1000000 [00:38<764:19:19,  2.75s/it]
  0%|                                  | 26/1000000 [00:39<587:28:17,  2.11s/it]
  0%|                                  | 27/1000000 [00:40<473:40:16,  1.71s/it]
  0%|                                  | 28/1000000 [00:42<418:19:20,  1.51s/it]

In [44]:
from pyvis.network import Network
net = Network(notebook=True)
net.from_nx(model)

net.show_buttons(filter_=['physics'])

In [45]:
net.show('structure_bank_marketing.html')