In [1]:
import sys
sys.path.append("../")

In [2]:
e

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
# we should drop call duration as it has 1-1 relationship with target

#df = df.drop('duration', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  object
dtypes: float64(5), int64(4), object(11)
memory usage: 6.3+ MB

In [6]:
discrete_cols = ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'pdays', 'previous',
       'poutcome',  'y']

cont_cols = ['emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed']

struct = StructureLearning(df.loc[:, discrete_cols])

#### Structured Learning Hill Climbing

In [7]:
# Structure learning on the data set

model_hc = struct.score_based(scoring="bic", algo="hc")
#model_pc  = struct.constraint_based()

  0%|                                                                                     | 28/1000000 [00:22<226:38:56,  1.23it/s]

In [8]:

net = Network(notebook=True, directed=True)
net.from_nx(model_hc)
net.show_buttons(filter_=['physics'])
net.show('outputs/structure_hc.html')

#### Structured Learning Tree based - Chow Liu

In [9]:
model_tree = struct.score_based(root_node='age', algo="tree")

Building tree: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 105/105.0 [00:05<00:00, 19.30it/s]

In [31]:

net = Network(notebook=True, directed=True)
net.from_nx(model_tree)
net.show_buttons(filter_=['physics'])
net.show('outputs/structure_tree.html')

#### Structured Learning constraint based

conditional independence tests

In [29]:

z = ['housing', 'loan','day_of_week', 'campaign', 'previous']

chi_square(X='age', Y='y', Z=z, data=df, boolean=True, significance_level=0.05)

False

In [23]:
z = ['day_of_week']

chi_square(X='campaign', Y='poutcome', Z=z, data=df, boolean=True, significance_level=0.05)

False

In [30]:
z = ['month']

chi_square(X='campaign', Y='poutcome', Z=z, data=df, boolean=True, significance_level=0.05)

True

In [15]:

#from pgmpy.estimators import PC
#c = PC(df.loc[:, discrete_cols])
#model = c.estimate(variant='parallel', max_cond_vars=5)